<main class="main main--crusta">
	<div class="main__left" style="background-image: url('./dist/images/girl.jpg')">
		<div class="stats" id="stats">
			<div class="stats__inner" id="statsInner">
				<span class="stats__num" id="statsNum"></span>
				<p class="stats__txt">людей обращают внимание на<span id="statsTxt"></span>.</p>.
			</div>
		</div>
		<div class="main__bottom">
			<span class="main__name">Название1</span>
			<span class="main__name">Название2</span>
			<span class="main__name">Название3</span>
			<span class="main__name">Название4</span>
			<span class="main__name">Очень длинное название5</span>
			<span class="main__name">Очень очень длинное название6</span>
			<span class="main__name">длинное название7</span>
			<span class="main__name">длинное название8</span>
		</div>
	</div>
	<div class="main__right">
		<div class="field">
			<span class="field__heart">
				<span></span>
			</span>
			<h1 class="field__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
			<div class="field__ask">
				<ul class="field__list">
					<li>
						<button class="btn" data-name="A" data-stats="30">Вариант А</button>
					</li>
					<li>
						<button class="btn" data-name="Б" data-stats="45">Вариант Б</button>
					</li>
					<li>
						<button class="btn" data-name="В" data-stats="67">Вариант В</button>
					</li>
				</ul>				
				<a href="#page-form" class="btn btn--continue">Продолжить</a>
			</div>
		</div>
	</div>
</main>